body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}